@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@200;400&display=swap');
* {
  box-sizing: border-box;
  font-family: 'Heebo', sans-serif;
}
div, body {
  margin: 0;
}
.page{
    margin: 0;
    min-height: 100vh;
    max-height: 100vh;
}
.home-title{
    font-size: 600%;
    font-weight: bold;
    color: white;
    margin: 0;
    padding: 0;
    text-align: center;
}
.home-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    /* background: linear-gradient(180deg, rgb(15, 95, 243) 0%, rgb(1, 2, 39) 100%); */
    background: rgb(15, 95, 243);
}
.header-container{
    display: flex;
    flex-direction: row;
    /* justify-content: space-between; */
    /* align-items: flex-end; */
    height: 10vh;
    /* background: rgba(0, 0, 0, 0.1); */
    background: transparent;
    position: fixed;
    width: 100%;
    z-index: 1;
}
.header-link {
    text-decoration: none;
    color: white;
    font-size: 150%;
    margin: 0 2%;
    padding: 0;
}