@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@200;400&display=swap');

* {
  box-sizing: border-box;
  font-family: 'Heebo', sans-serif;
  /* background-color: green; */
}
*::-webkit-scrollbar {
  width: 16px;
}
* {
  outline: solid 1px red;
}
body {
  /* background-color: rgb(51, 64, 65); */
  /* background-image: linear-gradient(
    to bottom,
    rgb(115, 182, 119),
    rgb(85, 133, 88)
  ); */
  background-color: rgb(115, 182, 119);
}
*::-webkit-scrollbar-track {
  border-radius: 8px;
  background-color: rgba(0, 0, 0, 0.05);
}

*::-webkit-scrollbar-thumb {
  height: 56px;
  border-radius: 8px;
  border: 4px solid transparent;
  background-clip: content-box;
  background-color: #888;
}

*::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

::-webkit-scrollbar-corner {
  background: rgba(0, 0, 0, 0);
}


div,
body {
  margin: 0;
}
body {
  color: white;
}

.page {
  margin: 0;
  /* min-height: 100vh; */
  /* max-height: 100vh; */
  background-image: linear-gradient(
    to bottom,
  );
}



.home-title {
  font-size: 500%;
  font-weight: bold;
  margin: 0;
  padding: 0;
  text-align: center;
  /* text-shadow: rgb(3, 3, 3) 1px 0 10px; */
}
.home-subtitle {
  font-size: 200%;
  font-weight: bold;
  margin: 0;
  padding: 0;
  text-align: center;
  /* text-shadow: rgb(3, 3, 3) 1px 0 10px; */
}

.home-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  /* background: rgb(28, 105, 247); */
}

.about-content{ 
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  flex: 1;
  padding: 5%;
}
.about-image-container img{
  width: 40%;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 5%;

}
.about-image-container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex: 1;
}

.about-text {
  font-size: 130%;
  margin: 0;
  padding: 1%;
  text-align: center;
  box-sizing: border-box;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  max-width: 900px;
}
.projects-container {
  display: flex; 
  flex-direction: column;
  max-height: 100vh;
}
.projects-main-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  min-height: 80%;
  flex: 1;
}
.projects-main-image-preview-container {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100vw;
  min-height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.projects-main-image-preview-container img {
  width: 80%;
  height: 80%;
  object-fit: contain;
}
.project-details-container {
  display: flex;
  flex-direction: column;
  height: 30%;
}
.section-title {
  font-size: 400%;
  font-weight: bold;
  color: white;
  padding-top: 1%;
  text-align: center;
  box-sizing: border-box;
  /* text-shadow: rgb(3, 3, 3) 0 0 4px; */
}
.section-subtitle{
  font-size: 200%;
  font-weight: bold; 
  color: white;
  padding-top: 1%;
  text-align: center;
  box-sizing: border-box;
}
.arrow-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-left: 1%;
  padding-right: 1%;
  box-sizing: border-box;
}

.resume-container {
  display: flex;
  flex-direction: column;
}
.resume-item-header{ 
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: flex-start;
}
.resume-download-button {
  background: none;
  border: 2px solid white;
  border-radius: 100%;
  font-size: 200%;
  cursor: pointer;
  height: 50px;
  width: 50px;
  margin-top: 1%;
  margin-left: 1%;
  margin-right: 1%;
  box-sizing: border-box;
  text-align: center;
  transition: 0.2s;
}
.resume-download-button:hover {
  background: white;
  color: rgb(115, 182, 119);
}
.resume-section-content-summary{
  text-align: left;
  width: 100%;
}
.resume-title-section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 1%;
  margin: 0;
}

.resume-section-container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 1%;
  margin: 0;
  flex: 1;

}
.resume-section{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1%;
  margin: 0;
  box-sizing: border-box;
}
.resume-section-title{
  font-size: 200%;
  font-weight: bold;
  margin: 0;
  padding: 0;
  text-align: center;
  box-sizing: border-box;
  align-items: center;
}
.resume-section-content{
  display: flex;
  flex-direction: row;
  padding: 2%;
  border-radius: 10px;
}
.resume-section-item{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2%;
  margin: 0;
  box-sizing: border-box;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
}

.resume-section-text-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  padding: 1%;
  margin: 0;
  box-sizing: border-box;


}
.projects-content-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin: 0;
  box-sizing: border-box;
}

.project-links-container{
  height: 15%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.project-link-container img{
  object-fit: contain;
  height: 100%;
  /* padding: 2%; */
  box-sizing: border-box;
  /* margin-right: 1%; */
}
.project-link-container {
  border-radius: 10px;
  background: rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  transition: 0.1s;
  margin-left: 1%;
  margin-right: 1%;
  width: 40%;
}
.project-link-text{
  padding: 2%;
  
}
.project-description-container {
  max-width: 1000px;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  padding: 2%;
}

.project-link-container:hover {
  background: rgba(255, 255, 255, 0.2);
}
.project-image-main {
  width: 80%; 
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.project-image-main img {
  object-fit: contain;
  cursor: -moz-zoom-in; 
  cursor: -webkit-zoom-in; 
  cursor: zoom-in;
  max-height: 100%;
  max-width: 100%;
}
.project-images-container{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 1%;
  margin: 0;
  box-sizing: border-box;
  /* width: 100%; */
  max-width: 900px;
  height: 40%;
  background:rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  /* flex: 1; */
}
.project-image-divider {
  width: 1px;
  height: 100%;
  background: rgba(255, 255, 255, 0.247);
  border-radius: 10px;
  margin: 1%;
  padding: 0;
  box-sizing: border-box;
}
.projects-main-image-preview-exit-button{
  position: absolute;
  top: 0;
  right: 0;
  /* margin: 1%; */
  padding-top: 1%;
  padding-right: 2%;
  padding-left: 2%;
  padding-bottom: 1%;
  border-radius: 10px;
  transition: 0.1s;
  cursor: pointer;
  box-sizing: border-box;
  background: none;
	color: inherit;
  border: none;
	font: inherit;
	cursor: pointer;
	outline: inherit;
  font-size: 200%;
  
}
.project-image-selector-container{
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  /* align-items: center; */
  padding: 1%;
  margin: 0;
  box-sizing: border-box;
  width: 10%;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  flex: 1;
    /* background:rgba(255, 255, 255, 0.075) */
}
 .project-image-selector{ 
  width: 100%;
  cursor: pointer;
  transition:cubic-bezier(1, 1, 1, 1) 0.1s; 
  margin: auto;
}
.project-image-selector:hover{
  /* background: rgba(255, 255, 255, 0.2); */
  width: 105%;
} 
.project-image-selector-container img{
  object-fit: contain;
  width: 100%;
  padding: 2%;
  box-sizing: border-box;
  /* height: 10px; */
  object-fit: contain;
}

@media screen and (max-width: 768px) {
    .project-images-container {
      flex-direction: column;
    }
    .project-image-divider {
      width: 100%;
      height: 1px;
    }
    .project-image-selector-container {
      flex-direction: row;
      width: 100%;
      height: 20%;
      overflow-y: hidden;
      overflow-x: auto;
    }
    .project-image-selector {
      width: auto;
      height: 100%;
      cursor: pointer;
      transition:cubic-bezier(1, 1, 1, 1) 0.1s; 
      margin: auto;
    }
    .project-image-main{
      height: 80%;
      width: 100%;
    }
    .project-image-selector-container img{
      object-fit: contain;
      height: 100%;
      padding: 2%;
      box-sizing: border-box;
      object-fit: contain;
    }
    .project-image-selector:hover{
  
      height: 120%;
      width: auto;

    } 
}

.header-container {
  display: flex;
  flex-direction: row;
  /* height: 10vh; */
  /* background: transparent; */
  justify-content: flex-end;
  position: fixed;
  width: 100%;
  
  
}
.raised-button {
  z-index: 1;
}

.header-link {
  text-decoration: none;
  color: white;
  font-size: 130%;
  padding: 4px;
  cursor: pointer;
  box-sizing: border-box;
  background: rgba(0, 0, 0, 0.2);
  transition-duration: 0.1s;
}
.active-header-link {
  background: rgba(255, 255, 255, 0.2);
}
.header-link:hover {
  background: rgba(255, 255, 255, 0.2);
}



.arrow path{
  fill: white;
  stroke: white;
  stroke-width: 1px;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-opacity: 1;
  transition: 0.2s;
}
.arrow:hover{
  cursor: pointer;
  transform: scale(1.4);
  transition-duration: 0.2s;
}

.arrow-left{
  transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
}

.arrow-left:hover {
  transform: scale(1.4) rotate(180deg);
  -webkit-transform: scale(1.4) rotate(180deg);
}

.contact-content-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  padding: 8%;
  max-width: 1000px;
  box-sizing: border-box;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  margin-top: auto;
  margin-bottom: auto;
}
.contact-container {
  display: flex; 
  flex-direction: column; 
  /* justify-content: center; */
  align-items: center;
}
.contact-content-container a {
  text-decoration: none;
  color: white;
  font-size: 130%;
  padding: 4px;
  cursor: pointer;
  box-sizing: border-box;
}
.linkedin-SVG {
  filter: invert(100%);
}