@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@200;400&display=swap');

* {
  box-sizing: border-box;
  font-family: 'Heebo', sans-serif;
  /* background-color: green; */
}
*::-webkit-scrollbar {
  width: 16px;
}
body {
  background-color: rgb(115, 182, 119);
  color: white;
}
*::-webkit-scrollbar-track {
  border-radius: 8px;
  background-color: rgba(0, 0, 0, 0.05);
}

*::-webkit-scrollbar-thumb {
  height: 56px;
  border-radius: 8px;
  border: 4px solid transparent;
  background-clip: content-box;
  background-color: #888;
}

*::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

::-webkit-scrollbar-corner {
  background: rgba(0, 0, 0, 0);
}
div,
body {
  margin: 0;
}

.root {
  height: 100vh;
  max-height: 100vh;
  width: 100vw;
}
.page {
  margin: 0;
  max-height: 100%;
  overflow-y: auto;
}


.home-title {
  font-size: calc( 300% + 2vw);
  font-weight: bold;
  margin: 0;
  padding: 0;
  text-align: center;
}
.home-subtitle {
  font-size: calc( 100% + 2vw);
  font-weight: bold;
  margin: 0;
  padding: 0;
  text-align: center;
}

.home-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin-top: auto; 
  margin-bottom: auto;
}

.about-content{ 
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  flex: 1;
  padding: 5%;
}
.about-image-container img{
  width: 40%;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 5%;

}
.about-image-container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex: 1;
}

.about-text {
  
  margin: 0;
  padding: 1%;
  text-align: center;
  
  align-items: center;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  max-width: 900px;
}
.about-text, 
.project-description-container,
.resume-section-content {
  font-size: calc( 12px + 0.5vh);
}
.projects-container {
  display: flex; 
  flex-direction: column;
  max-height: 100vh;
}
.projects-main-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  min-height: 80%;
  flex: 1;
}
.projects-main-image-preview-container {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100vw;
  min-height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  cursor: zoom-out;
}
.projects-main-image-preview-image-container{
  max-height: 80%;
  max-width: 80%;
}
.projects-main-image-preview-container img {
  height: 100%;
  width: 100%;
  object-fit: contain;
  cursor: default;
}
.project-details-container {
  display: flex;
  flex-direction: column;
  height: 40%;
  max-width: 100%;
}
.section-title {
  font-size: 300%;
  font-weight: bold;
  color: white;
  padding-top: 1%;
  text-align: center;
  
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.section-subtitle{
  font-size: 200%;
  font-weight: bold; 
  color: white;
  padding-top: 1%;
  text-align: center;
  
}
.arrow-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-left: 1%;
  padding-right: 1%;
  
  width: 10%;
}

.resume-container {
  display: flex;
  flex-direction: column;
}
.resume-item-header{ 
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: flex-start;
}
.resume-download-button {
  background: none;
  border: 2px solid white;
  border-radius: 100%;
  font-size: 200%;
  cursor: pointer;
  height: 50px;
  width: 50px;
  margin-top: 1%;
  margin-left: 1%;
  margin-right: 1%;
  
  text-align: center;
  transition: 0.2s;
}
.resume-download-button:hover {
  background: white;
  color: rgb(115, 182, 119);
}
.resume-section-content-summary{
  text-align: left;
  width: 100%;
  margin-top: 2%;
  flex: 1;
  display: flex; 
  flex-direction: column;
  justify-content: space-between;
}
.resume-title-section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 1%;
  margin: 0;
}

.resume-section-container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding: 1%;
  margin: 0;

}
.App {
  display: flex;
  flex-direction: column;
  max-height: 100vh;
  min-height: 100vh;
}
.resume-section{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 1%;
  min-height: 100%;

  
}
.resume-section-title{
  font-size: 200%;
  font-weight: bold;
  margin: 0;
  padding: 0;
  text-align: center;
  
  align-items: center;
}
.resume-section-content{
  display: flex;
  flex-direction: row;
  padding: 2%;
  border-radius: 10px;
  flex: 1;
}
.resume-section-item{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 2%;
  margin: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 10px;

}
.resume-section-image {
  width: 30%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.resume-section-image img{
  object-fit: contain;
  width: 100%;
}


.resume-section-text-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  padding: 1%;
  margin: 0;
  


}
.projects-content-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  
  width: 80%;
}

.project-links-container{
  height: 15%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.project-link-container img{
  object-fit: contain;
  height: 100%;
  
}
.project-link-container {
  border-radius: 10px;
  background: rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  transition: 0.1s;
  margin-left: 1%;
  margin-right: 1%;
  width: 40%;
}

.project-link-text, .project-link-container img{
  padding: 2%;
}
.project-description-container {
  max-width: 1000px;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  padding: 2%;
}

.project-link-container:hover {
  background: rgba(255, 255, 255, 0.2);
}
.project-image-main {
  width: 80%; 
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.project-image-main img {
  object-fit: contain;
  cursor: -moz-zoom-in; 
  cursor: -webkit-zoom-in; 
  cursor: zoom-in;
  max-height: 100%;
  max-width: 100%;
}
.project-images-container{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 1%;
  margin: 0;
  
  max-width: 900px;
  height: 40%;
  background:rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}
.project-image-divider {
  width: 1px;
  height: 100%;
  background: rgba(255, 255, 255, 0.247);
  border-radius: 10px;
  margin: 1%;
  padding: 0;
  
}

.project-image-selector-container{
  display: flex;
  flex-direction: column;
  padding: 1%;
  margin: 0;
  
  width: 10%;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  flex: 1;
}
 .project-image-selector{ 
  width: 100%;
  cursor: pointer;
  transition:cubic-bezier(1, 1, 1, 1) 0.1s; 
  margin: auto;
}
.project-image-selector:hover{
  width: 105%;
} 
.project-image-selector-container img{
  object-fit: contain;
  width: 100%;
  padding: 2%;
  
  object-fit: contain;
}

@media screen and (max-width: 768px) {
    .project-images-container {
      flex-direction: column;
    }
    .project-image-divider {
      width: 100%;
      height: 1px;
    }
    .project-image-selector-container {
      flex-direction: row;
      width: 100%;
      height: 20%;
      overflow-y: hidden;
      overflow-x: auto;
    }
    .project-image-selector {
      width: auto;
      height: 100%;
      cursor: pointer;
      transition:cubic-bezier(1, 1, 1, 1) 0.1s; 
      margin: auto;
    }
    .project-image-main{
      height: 80%;
      width: 100%;
    }
    .project-image-selector-container img{
      object-fit: contain;
      height: 100%;
      padding: 2%;
      
      object-fit: contain;
    }
    .project-image-selector:hover{
  
      height: 120%;
      width: auto;

    } 
}

.header-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  /* width: 100%; */
  font-size: calc(12px + 0.5vw);
  background: rgba(0, 0, 0, 0.2)
  
}
.raised-button {
  z-index: 1;
}

.header-link {
  /* background: rgba(0, 0, 0, 0.2); */
  padding: 0.5%;
  text-decoration: none;
  color: white;
  transition-duration: 0.1s;
  margin: 0.5%;
  border-radius: 5px;

}

.active-header-link {
  background: rgba(255, 255, 255, 0.2);
}
.header-link:hover {
  background: rgba(255, 255, 255, 0.2);
}
.arrow path{
  fill: white;
  stroke: white;
  stroke-width: 1px;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-opacity: 1;
  transition: 0.2s;
}
.arrow:hover{
  cursor: pointer;
  transform: scale(1.4);
  transition-duration: 0.2s;
}

.arrow-left{
  transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
}

.arrow-left:hover {
  transform: scale(1.4) rotate(180deg);
  -webkit-transform: scale(1.4) rotate(180deg);
}

.contact-content-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  padding: 8%;
  background: rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  margin-top: auto;
  margin-bottom: auto;
}
.contact-container {
  display: flex; 
  flex-direction: column; 
  height: 100%;
  align-items: center;
  flex: 1;
}
.contact-content-container a {
  text-decoration: none;
  color: white;
  font-size: 130%;
  padding: 4px;
  cursor: pointer;
  
}
.linkedin-SVG {
  filter: invert(100%);
}